<html>
<head>
  <title>ElectroPortal WebApp</title>
  <style>
    body {background-color: indigo;}
    <!-- --> h1 {color: red;}
    <!-- --> p{color: blue;}
  </style>
  <meta charset="UTF-8">
  <meta name="description" content="A restaurant flask webApp">
  <meta name="keywords" content="electronics,udacity,flask app">
  <meta name="author" content="AhmedEH">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="30">	<!-- refreshes page every 30secs -->
  <link rel="shortcut icon" type="image/jpg" href="icon.jpg" />
  <!--<link rel="shortcut icon" type="image/x-icon" href="icon.png" />-->
</head>
<body>
<p>Welcome to Electro portal WebApp!</p>
</body>
</html>
